:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
p {
  margin: 0;
}

/* Remove list styles on ul elements with a list role, which suggests default styling will be removed */
ul[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

/* Typography */
body {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  color: var(--light-gray);
}

h1,
h2,
strong,
.price {
  font-weight: bold;
}

h1,
h2 {
  font-size: 1.6rem;
}

h1 {
  color: var(--cyan);
}

strong {
  color: var(--bright-yellow);
}

p,
.per-month {
  color: var(--grayish-blue);
}

.price {
    font-size: 2em;
}
