:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
p {
  margin: 0;
}

/* Remove list styles on ul elements with a list role, which suggests default styling will be removed */
ul[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

/* Typography */
body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  color: var(--light-gray);
  background-color: var(--light-gray);
}

h1,
h2,
strong,
.price {
  font-weight: bold;
}

h1,
h2 {
  font-size: 2rem;
}

h1 {
  color: var(--cyan);
}

strong {
  color: var(--bright-yellow);
}

p {
  color: var(--grayish-blue);
}

.price {
  font-size: 2em;
}

/* Main */
main {
  display: grid;
  place-items: center;
  height: 100dvh;
}

/* Center */
.main-wrapper {
  display: grid;
  min-height: 80dvh;
  width: 80%;
  grid-template-rows: repeat(3, minmax(min-content, 1fr));
}

/* Background Colors */
.heading {
  background-color: white;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
}

#why {
  background-color: hsl(179, 62%, 47%);
}

/* Center content */
main section {
  grid-row: span 1;
  display: grid;
  place-items: center;
}

.content {
  display: grid;
  gap: 1rem;
  max-width: 90%;
}

.content ul {
  padding: 0;
}

/* Subscription price align */
.subscription .content div {
  display: flex;
  align-items: center;
}

.price {
  padding-right: 1rem;
}

/* Button */
.button {
  background-color: var(--bright-yellow);
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}
